.center {
    width: 550px;
    height: 350px;
    background-color: #2B579A;
    color: white;
    position: absolute;
    top:50px;
    bottom: 50px;
    left: 50px;
    right: 50px;    
    margin: auto;
    padding: 10px;
    border-radius: 15px;
}

body {
    background-image: url("/../images/books.jpg");
    background-size: cover;
}

.center form .buttonDiv {
    text-align: center;
}

.center form h1{
    text-align: center;
}

.center form div div {
    text-align: right;
}

.center p {
    font-size: 12px;
    text-align: left;
}

.center div label {
    text-align: left;
}