<html>
    <head>
        <title>Author</title>
        <% include head.ejs %>
    </head>    
    <body>   
        <% include menu.ejs%>   
        <% include endmenu.ejs%>

        <% include container.ejs%>
            <div><h2>Author</h2></div><br>      
            <div>
                <% include submenu.ejs%>    
                    <li class="nav-item active">
                        <button onclick="getAuthors()" class="btn btn-success">Display all authors</button><br><br>
                    </li>
                    <li class="nav-item">
                        <button onclick="toggle()" class="btn btn-primary">Create</button><br><br>
                    </li> 
                <% include endsubmenu.ejs%>            
                <input type="text" id="authorId">
                <button onclick="getAuthor()" class="btn btn-success">Search</button><br><br>                        
            </div>
            <br><br>
            <div id="createForm" style="display:none;" class="form-group">
                <h2>Create Author</h2>
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <input type="text" id="name"><br>
                <label for="description" class="col-sm-2 col-form-label">Description</label>
                <input type="text" id="description"><br>
                <label for="name" class="col-sm-2 col-form-label"></label>
                <button onclick="createAuthor()" class="col-sm-2  btn btn-success">Create</button>
                <br><br>
            </div>
            
            <div id="divResults">
                <h2>Results</h2>
                <div class="container" id="ulResults">
                </div>
            </div>
        <% include endcontainer.ejs%>  
        <script type="text/javascript">

            function getAuthor() {
                // get author
                var authorId = $("#authorId").val();
                console.log(authorId);
                var xhr = new XMLHttpRequest();
                console.log("Starting search for: " + authorId);
                xhr.open('GET', 'author/' + authorId);
                xhr.onload = function() {
                    console.log("got response!");
                    var resultList = $("#ulResults");
		            resultList.empty();
                    if (xhr.status === 200) {
                        var resp = JSON.parse(xhr.responseText);
                        //row header
			            resultList.append("<div class='row'><div class='col-sm'><strong> Id </div><div class='col-sm'>Name </div></strong></div><br>");

                        resultList.append("<div class='row'><div class='col-sm'>" + resp.author_id + "</div><div class='col-sm'>" + resp.name + "</div></div>");
                    } else {
                        alert('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();         
            }

            function getAuthors() {
                // get all Authors
                var xhr = new XMLHttpRequest();                
                xhr.open('GET', 'author/');
                xhr.onload = function() {
                    console.log("got response!");
                    if (xhr.status === 200) {
                        var comma = "";
                        var aText = "";
                        var resp = JSON.parse(xhr.responseText);                        
                        var resultList = $("#ulResults");
                        resultList.empty();
                        resultList.append("<strong><div class='row'><div class='col-sm'>Id</div><div class='col-sm'>Name</div><div class='col-sm'>Action</div></div></strong>");
                        for ( var i = 0; i < resp.length; i++ ) {
                            resultList.append("<div class='row'><div class='col-sm'>" + resp[i].author_id + "</div><div class='col-sm'>" + resp[i].name + "</div><div class='col-sm'><button onclick='deleteAuthor(" + resp[i].author_id + ")' class='btn btn-danger'>Delete</button></div></div><br>");
                        }
                    } else {
                        alert('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();
            }

           
           function toggle() {
                // get all author
                $("#createForm").fadeToggle();
            }

            function createAuthor(){
                // create author
                var name = $("#name").val();
                var description = $("#description").val();
                console.log(name + " " + description);
                var xhr = new XMLHttpRequest();
                console.log("Starting search for: " + authorId);
                xhr.open('POST', 'author/' + name + "/" + description);                          
                xhr.send();                 
                toggle();    
                allAuthor();            
            }  
            
            function deleteAuthor(authorId){
                // delete author                
                console.log("Deleting author_id" + authorId);
                var xhr = new XMLHttpRequest();
                xhr.open('DELETE', 'author/' + authorId);                          
                xhr.send();                
                allAuthor();  
            }
        </script>
        </div>
    </body>    
</html>