<html>
    <head>
        <title>Author</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    </head>    
    <body>
        <div id="container">        
        <% include menu.ejs%>   
        <% include endmenu.ejs%>
        <div><h2>Author</h2></div><br>      
        <div>
            <input type="text" id="authorId">
            <button onclick="getAuthor()" class="btn btn-success">Search</button><br><br>
            <button onclick="getAuthors()" class="btn btn-primary">display all authors</button><br><br>
            <button onclick="toggle()" class="btn btn-primary">Create</button><br><br>
        </div>
        <br><br>
        <div id="createForm" style="display:none;" class="form-group">
            <h2>Create Author</h2>
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <input type="text" id="name"><br>
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <input type="text" id="description"><br>
            <label for="name" class="col-sm-2 col-form-label"></label>
            <button onclick="createAuthor()" class="col-sm-2  btn btn-success">Create</button>
            <br><br>
        </div>


        <div id="divResults">
            <h2>Results</h2>
            <ul id="ulResults">
            </ul>
        </div>
        
        <script type="text/javascript">

            function getAuthor() {
                // get author
                var authorId = $("#authorId").val();
                console.log(authorId);
                var xhr = new XMLHttpRequest();
                console.log("Starting search for: " + authorId);
                xhr.open('GET', 'author/' + authorId);
                xhr.onload = function() {
                    console.log("got response!");
                    var resultList = $("#ulResults");
		            resultList.empty();
                    if (xhr.status === 200) {
                        var resp = JSON.parse(xhr.responseText);
                        var author = resp.author_id + " " + resp.name;
			            resultList.append("<li><p>" + author + "</p></li>");
                    } else {
                        alert('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();         
            }

            function getAuthors() {
                // get all Authors
                var xhr = new XMLHttpRequest();                
                xhr.open('GET', 'author/');
                xhr.onload = function() {
                    console.log("got response!");
                    if (xhr.status === 200) {
                        var comma = "";
                        var aText = "";
                        var resp = JSON.parse(xhr.responseText);                        
                        var resultList = $("#ulResults");
		                resultList.empty();
                        for ( var i = 0; i < resp.length; i++ ) {
                            var author = resp[i].author_id + " " + resp[i].name;
			                resultList.append("<li><p>" + author + "  <button onclick='deleteAuthor(" + resp[i].author_id + ")' class='btn btn-danger'>Delete</button></p></li>");
                        }
                    } else {
                        alert('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();
            }

           
           function toggle() {
                // get all author
                $("#createForm").fadeToggle();
            }

            function createAuthor(){
                // create author
                var name = $("#name").val();
                var description = $("#description").val();
                console.log(name + " " + description);
                var xhr = new XMLHttpRequest();
                console.log("Starting search for: " + authorId);
                xhr.open('POST', 'author/' + name + "/" + description);                          
                xhr.send();                 
                toggle();    
                allAuthor();            
            }  
            
            function deleteAuthor(authorId){
                // delete author                
                console.log("Deleting author_id" + authorId);
                var xhr = new XMLHttpRequest();
                xhr.open('DELETE', 'author/' + authorId);                          
                xhr.send();                
                allAuthor();  
            }
        </script>
        </div>
    </body>    
</html>