<html>
    <head>
        <title>Author</title>
    </head>    
    <body>
        <div><h2>Author</h2></div>
        <% include menu.ejs%> 
        <a href="author">Display Author</a>  
    </body>    
</html>