<html>
    <head>
        <title>Index</title>
        <% include head.ejs %>
    </head>    
    <body>
        
        <% include menu.ejs%>
        <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
        </li> 
        <% include endmenu.ejs%>
        <% include container.ejs%>
        <div><h2>Index</h2></div><br>
        <% include endcontainer.ejs%>
    </body>    
</html>
