<html>
    <head>
        <title>Book</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    </head>    
    <body>
        <div><h2>Book</h2></div>
        <% include menu.ejs%>         
        <div>
            <input type="text" id="bookId">
            <button onclick="getBook()" class="btn btn-success">Search</button><br><br>
            <button onclick="getBooks()" class="btn btn-primary">display all authors</button><br><br>
            <button onclick="toggle()" class="btn btn-primary">Create</button><br><br>
        </div>
        <br><br>
        <div id="createForm" style="display:none;" class="form-group">
            <h2>Create Book</h2>
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <input type="text" id="title"><br>
            <label for="subtitle" class="col-sm-2 col-form-label">Subtitle</label>
            <input type="text" id="subtitle"><br>
            <label for="name" class="col-sm-2 col-form-label"></label>
            <button onclick="createBook()" class="col-sm-2  btn btn-success">Create</button>
            <br><br>
        </div>


        <div id="divResults">
            <h2>Results</h2>
            <ul id="ulResults">
            </ul>
        </div>
        
        <script type="text/javascript">

            function getBook() {
                // get book
                var bookId = $("#bookId").val();
                console.log(bookId);
                var xhr = new XMLHttpRequest();
                console.log("Starting search for: " + bookId);
                xhr.open('GET', 'book/' + bookId);
                xhr.onload = function() {
                    console.log("got response!");
                    var resultList = $("#ulResults");
		            resultList.empty();
                    if (xhr.status === 200) {
                        var resp = JSON.parse(xhr.responseText);
                        var book = resp.book_id + " " + resp.title;
			            resultList.append("<li><p>" + book + "  <button onclick='deleteBook(" + resp.book_id + ")'>X</button></p></li>");
                    } else {
                        alert('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();         
            }

            function getBooks() {
                // get all books
                var xhr = new XMLHttpRequest();                
                xhr.open('GET', 'books/');
                xhr.onload = function() {
                    console.log("got response!");
                    if (xhr.status === 200) {
                        var comma = "";
                        var aText = "";
                        var resp = JSON.parse(xhr.responseText);                        
                        var resultList = $("#ulResults");
		                resultList.empty();
                        for ( var i = 0; i < resp.length; i++ ) {
                            var book = resp[i].book_id + " " + resp[i].title;
			                resultList.append("<li><p>" + book + "  <button onclick='deleteBook(" + resp[i].book_id + ")'>X</button></p></li>");
                        }
                    } else {
                        alert('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();
            }

           
           function toggle() {
                // get all author
                $("#createForm").fadeToggle();
            }

            function createBook(){
                // create book
                var title = $("#title").val();
                var description = $("#subtitle").val();
                console.log(title + " " + subtitle);

                var xhr = new XMLHttpRequest();
                console.log("Starting search for: " + bookId);
                xhr.open('POST', 'book/' + title + "/" + subtitle);                          
                xhr.send();                 
                toggle();    
                allAuthor();            
            }  
            
            function deleteAuthor(authorId){
                // delete author                
                console.log("Deleting author_id" + authorId);
                var xhr = new XMLHttpRequest();
                xhr.open('DELETE', 'author/' + authorId);                          
                xhr.send();                
                allAuthor();  
            }
        </script>
    </body>    
</html>