<html>
    <head>
        <title>Book</title>
        <% include head.ejs %>
    </head>    
    <body>        
        <% include menu.ejs%>
        <% include endmenu.ejs%>
        <% include container.ejs%>
        <div><h2>Item</h2></div><br>         
        <div>
            <% include submenu.ejs%>  
                <li class="nav-item active">    
                    <button onclick="getItems()" class="btn btn-success">Display all Items</button><br><br>
                </li>
                <li class="nav-item active">
                    <button onclick="toggle()" class="btn btn-primary">Create</button><br><br>
                </li>        
            <% include endsubmenu.ejs%>
            <input type="text" id="itemId">
            <button onclick="getItem()" class="btn btn-success">Search</button><br><br>
        </div>
        <br><br>
        <div id="createForm" style="display:none;" class="form-group">
            <h2>Create Item</h2>
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <input type="text" id="name"><br>
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <input type="text" id="description"><br>
            <label for="itemTypeId" class="col-sm-2 col-form-label">Item Type</label>            
            <select name="items" id="itemTypeId"></select><br>
            <label for="authorId" class="col-sm-2 col-form-label">Author</label>            
            <select name="authors" id="authorId"></select><br>
            <label class="col-sm-2 col-form-label"></label>  
            <button onclick="createItem()" class="col-sm-2  btn btn-success">Create</button>
            <br><br>
        </div>


        <div id="divResults">
            <h2>Results</h2>
            <div class="container" id="ulResults">
            </div>
        </div>
        <% include endcontainer.ejs%>
        <script type="text/javascript">

            function getAuthors() {
                // get all Authors
                var xhr = new XMLHttpRequest();                
                xhr.open('GET', 'author/');
                xhr.onload = function() {
                    console.log("got response!");
                    if (xhr.status === 200) {
                        var comma = "";
                        var aText = "";
                        var resp = JSON.parse(xhr.responseText);                        
                        var resultList = $("#authorId");
		                resultList.empty();
                        for ( var i = 0; i < resp.length; i++ ) {
                            var author = resp[i].author_id + " " + resp[i].name;
			                resultList.append("<option value=" + resp[i].author_id + ">" + resp[i].name + "</option>");
                        }
                    } else {
                        alert('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();
            }

            function getItemTypes() {
                // get all Item Types
                var xhr = new XMLHttpRequest();                
                xhr.open('GET', 'item_type/');
                xhr.onload = function() {
                    console.log("got response!");
                    if (xhr.status === 200) {
                        var comma = "";
                        var aText = "";
                        var resp = JSON.parse(xhr.responseText);                        
                        var resultList = $("#itemTypeId");
		                resultList.empty();
                        for ( var i = 0; i < resp.length; i++ ) {
                            var itemType = resp[i].item_type_id + " " + resp[i].name;
                            resultList.append("<option value=" + resp[i].item_type_id + ">" + resp[i].name + "</option>");
                        }
                    } else {
                        alert('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();
            }

            function getItem() {
                // get item
                var itemId = $("#itemId").val();
                console.log(itemId);
                var xhr = new XMLHttpRequest();
                console.log("Starting search for: " + itemId);
                xhr.open('GET', 'item/' + itemId);
                xhr.onload = function() {
                    console.log("got response!");
                    var resultList = $("#ulResults");
		            resultList.empty();
                    if (xhr.status === 200) {
                        var resp = JSON.parse(xhr.responseText);
                        //row header
			            resultList.append("<div class='row'><div class='col-sm'><strong> Id </div><div class='col-sm'>Name </div><div class='col-sm'>Description</div></strong></div><br>");

                        //row
                        resultList.append("<div class='row'><div class='col-sm'>" + resp.item_id + "</div><div class='col-sm'>" + resp.name + "</div><div class='col-sm'>" + resp.description + "</div></div>");
                    } else {
                        alert('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();         
            }

            function getItems() {
                // get all items
                var xhr = new XMLHttpRequest();                
                xhr.open('GET', 'item/');
                xhr.onload = function() {
                    console.log("got response!");
                    if (xhr.status === 200) {
                        var comma = "";
                        var aText = "";
                        var resp = JSON.parse(xhr.responseText);                        
                        var resultList = $("#ulResults");
		                resultList.empty();
                        resultList.append("<div class='row'><div class='col-sm'><strong> Id</div><div class='col-sm'>Name</div><div class='col-sm'>Description</div><div class='col-sm'>Action</div></strong></div><br>");
                        for ( var i = 0; i < resp.length; i++ ) {
			                resultList.append("<div class='row'><div class='col-sm'>" + resp[i].item_id + "</div><div class='col-sm'>" + resp[i].name + "</div><div class='col-sm'>" + resp[i].description + "</div> <div class='col-sm'><button onclick='deleteItem(" + resp[i].item_id + ")' class='btn btn-danger'>Delete</button></div></div><br>");
                        }
                    } else {
                        alert('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();
            }

           
           function toggle() {
                getAuthors();
                getItemTypes();
                // get all author
                $("#createForm").fadeToggle();
            }

            function createItem(){
                // create item
                var name = $("#name").val();
                var subtitle = $("#subtitle").val();
                var authorId = $("#authorId").val();
                var itemTypeId = $("#itemTypeId").val();
                console.log("name: " + name + " subtitle: " + subtitle + " author id: " + authorId);
                var xhr = new XMLHttpRequest();
                console.log("Starting search for: " + itemId);
                xhr.open('POST', 'item/' + itemTypeId + "/" + authorId + "/" + name + "/" + subtitle);                          
                xhr.send();                 
                toggle();    
                allAuthor();            
            }  
            
            function deleteItem(itemId){
                // delete author                
                console.log("Deleting item_id" + itemId);
                var xhr = new XMLHttpRequest();
                xhr.open('DELETE', 'item/' + itemId);                          
                xhr.send();                
                allAuthor();  
            }
        </script>
    </body>    
</html>