<html>
    <head>
        <title>Item Type</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    </head>    
    <body>        
        <% include menu.ejs%> 
        <% include endmenu.ejs%>
        <div><h2>Item Type</h2></div><br>        
        <div>
            <input type="text" id="itemTypeId">
            <button onclick="getItemType()" class="btn btn-success">Search</button><br><br>
            <button onclick="getItemTypes()" class="btn btn-primary">display all Items Type</button><br><br>
            <button onclick="toggle()" class="btn btn-primary">Create</button><br><br>
        </div>
        <br><br>
        <div id="createForm" style="display:none;" class="form-group">
            <h2>Create Item Type</h2>
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <input type="text" id="name"><br>
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <input type="text" id="description"><br>
            <label for="name" class="col-sm-2 col-form-label"></label>
            <button onclick="createItemType()" class="col-sm-2  btn btn-success">Create</button>
            <br><br>
        </div>


        <div id="divResults">
            <h2>Results</h2>
            <ul id="ulResults">
            </ul>
        </div>
        
        <script type="text/javascript">

            function getItemType() {
                // get item Type
                var itemTypeId = $("#itemTypeId").val();
                console.log(itemTypeId);
                var xhr = new XMLHttpRequest();
                console.log("Starting search for: " + itemTypeId);
                xhr.open('GET', 'item_type/' + itemTypeId);
                xhr.onload = function() {
                    console.log("got response!");
                    var resultList = $("#ulResults");
		            resultList.empty();
                    if (xhr.status === 200) {
                        var resp = JSON.parse(xhr.responseText);
                        var itemType = resp.item_type_id + " " + resp.name;
			            resultList.append("<li><p>" + itemType + "</p></li>");
                    } else {
                        alert('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();         
            }

            function getItemTypes() {
                // get all Item Types
                var xhr = new XMLHttpRequest();                
                xhr.open('GET', 'item_type/');
                xhr.onload = function() {
                    console.log("got response!");
                    if (xhr.status === 200) {
                        var comma = "";
                        var aText = "";
                        var resp = JSON.parse(xhr.responseText);                        
                        var resultList = $("#ulResults");
		                resultList.empty();
                        for ( var i = 0; i < resp.length; i++ ) {
                            var itemType = resp[i].item_type_id + " " + resp[i].name;
			                resultList.append("<li><p>" + itemType + "  <button onclick='deleteItemType(" + resp[i].item_type_id + ")' class='btn btn-danger'>Delete</button></p></li>");
                        }
                    } else {
                        alert('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();
            }

           
           function toggle() {
                // get all items type
                $("#createForm").fadeToggle();
            }

            function createItemType(){
                // create Item Type
                var name = $("#name").val();
                var description = $("#description").val();
                console.log(name + " " + description);
                var xhr = new XMLHttpRequest();
                console.log("Starting search for: " + itemTypeId);
                xhr.open('POST', 'item_type/' + name + "/" + description);                          
                xhr.send();                 
                toggle();    
                getItemTypes();            
            }  
            
            function deleteItemType(itemTypeId){
                // delete item Type                
                console.log("Deleting item_type_id" + itemTypeId);
                var xhr = new XMLHttpRequest();
                xhr.open('DELETE', 'item_type/' + itemTypeId);                          
                xhr.send();                
                getItemTypes();
            }
        </script>
    </body>    
</html>