<!DOCTYPE html>
<html>
<head>
	<title>Test Form</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script src="login.js"></script>
</head>
<body>
<div>
	<form action="/getServerTime" method="GET">
		<input type="text" id="username" placeholder="username"><br>
		<input type="password" id="password" placeholder="password"><br>		
		<br>
		<button>Get server time</button>
	</form>	
</div>

</body>
</html>