<html>
    <head>
        <title>User Type</title>
        <% include head.ejs %>
    </head>    
    <body>        
        <% include menu.ejs%> 
        <% include endmenu.ejs%>
        <% include container.ejs%>
        <div><h2>User Type</h2></div><br>        
        <div>
            <% include submenu.ejs%>  
            <li class="nav-item active">    
                <button onclick="getUserTypes()" class="btn btn-success">Display all User Types</button><br><br>
            </li>
            <li class="nav-item active">    
                <button onclick="toggle()" class="btn btn-primary">Create</button><br><br>
            </li>
            <% include endsubmenu.ejs%>

            <input type="text" id="userTypeId">
            <button onclick="getUserType()" class="btn btn-success">Search</button><br><br>            
        </div>
        <br><br>
        <div id="createForm" style="display:none;" class="form-group">
            <h2>Create User Type</h2>
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <input type="text" id="name"><br>
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <input type="text" id="description"><br>
            <label for="name" class="col-sm-2 col-form-label"></label>
            <button onclick="createUserType()" class="col-sm-2  btn btn-success">Create</button>
            <br><br>
        </div>


        <div id="divResults">
            <h2>Results</h2>
            <ul id="ulResults">
            </ul>
        </div>
        <% include endcontainer.ejs%>
        <script type="text/javascript">

            function getUserType() {
                // get item Type
                var userTypeId = $("#userTypeId").val();
                console.log(userTypeId);
                var xhr = new XMLHttpRequest();
                console.log("Starting search for: " + userTypeId);
                xhr.open('GET', 'user_type/' + userTypeId);
                xhr.onload = function() {
                    console.log("got response!");
                    var resultList = $("#ulResults");
		            resultList.empty();
                    if (xhr.status === 200) {
                        var resp = JSON.parse(xhr.responseText);
                        var userType = resp.user_type_id + " " + resp.name;
                        //row header
			            resultList.append("<div class='row'><div class='col-sm'><strong> Id </div><div class='col-sm'>Name </div></strong></div><br>");
			            resultList.append("<div class='row'><div class='col-sm'>" + resp.user_type_id + "</div><div class='col-sm'>" + resp.name + "</div></div>");
                    } else {
                        alert('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();         
            }

            function getUserTypes() {
                // get all user Type
                var xhr = new XMLHttpRequest();                
                xhr.open('GET', 'user_type/');
                xhr.onload = function() {
                    console.log("got response!");
                    if (xhr.status === 200) {
                        var comma = "";
                        var aText = "";
                        var resp = JSON.parse(xhr.responseText);                        
                        var resultList = $("#ulResults");
                        resultList.empty();
                        //row header
			            resultList.append("<div class='row'><div class='col-sm'><strong> Id </div><div class='col-sm'>Name </div><div class='col-sm'>Action </div></strong></div><br>");
                        for ( var i = 0; i < resp.length; i++ ) {
                            var userType = resp[i].user_type_id + " " + resp[i].name;
                            resultList.append("<div class='row'><div class='col-sm'>" + resp[i].user_type_id + "</div><div class='col-sm'>" + resp[i].name + "</div><div class='col-sm'><button onclick='deleteItemType(" + resp[i].user_type_id + ")' class='btn btn-danger'>Delete</button></div></div><br>");
                        }
                    } else {
                        alert('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                xhr.send();
            }

           
           function toggle() {
                // get all items type
                $("#createForm").fadeToggle();
            }

            function createUserType(){
                // create user Type
                var name = $("#name").val();
                var description = $("#description").val();
                console.log(name + " " + description);
                var xhr = new XMLHttpRequest();
                console.log("Starting search for: " + userTypeId);
                xhr.open('POST', 'user_type/' + name + "/" + description);                          
                xhr.send();                 
                toggle();    
                getUserTypes();            
            }  
            
            function deleteUserType(userTypeId){
                // delete User Type                
                console.log("Deleting user_type_id" + userTypeId);
                var xhr = new XMLHttpRequest();
                xhr.open('DELETE', 'user_type/' + userTypeId);                          
                xhr.send();                
                getItemTypes();
            }
        </script>
    </body>    
</html>